<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.syoboi.android.garaponmate"
    android:versionCode="21"
    android:versionName="0.7.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/settings"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".activity.ProgSearchListActivity"
            android:label="@string/searchListSettings"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:launchMode="singleInstance" />

        <!-- ダイアログだけ表示 -->
        <activity
            android:name=".activity.DialogActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 認証 -->
        <activity android:name=".activity.AuthCallbackActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="auth"
                    android:scheme="jp.syoboi.android.garaponmate" />
            </intent-filter>
        </activity>

        <!-- WebActivity -->
        <activity
            android:name=".activity.WebActivity"
            android:parentActivityName=".activity.MainActivity" />

        <!-- BroadcastReceiver -->
        <receiver android:name=".receiver.Receiver" >

            <!-- ダウンロードマネージャからの通知 -->
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.PlayerService" />
        <service android:name=".service.DownloadService" />
    </application>

</manifest>